# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage


# Ignore parcel-cache
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
./node_modules
/.pnp
.pnp.js

# testing
/coverage

# Ignore dist folder
/dist/


# Ignore parcel-cache
.parcel-cache/



# Ignore coverage folder
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*



# Ignore coverage folder
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
 